# Ignorar logs y archivos temporales
temp*/
logs/

# Ignorar archivo de IA
GEMINI.md

# Ignorar el propio .gitignore y .gitattributes (solo si no afecta a la gestión de git)
.gitignore
.gitattributes

# No ignorar docs/
!docs/

# Ignorar almacén de assets y paquetes
full_assets/
releases/

# Ignorar cachés de Python
__pycache__/
*.pyc

# No ignorar assets en uso
!assets/

# Ignorar saves y su contenido
saves/

# Ignorar directorios de configuración de editores
.vscode/
.continue/

test_logs/