# Ignorar logs y archivos temporales
temp*/
logs/

# Ignorar archivo de IA
GEMINI.md

# Ignorar el propio .gitignore
.gitignore

# No ignorar docs/
!docs/

# Ignorar almacén de assets y paquetes
full_assets/
releases/

# Ignorar cachés de Python
__pycache__/
*.pyc

# No ignorar assets en uso
!assets/

# Ignorar saves y su contenido
test_logs/
saves/